.design-header {
    background-color: #f1f1f1;
    padding: 20px;
    margin: -10px;
    text-align: center;
}

.design-header .version-details {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.design-header table {
    border-collapse: collapse;
}

.design-header table tr {
    border-bottom: #000000 solid 1px;
}

.design-header table td, .design-header table th {
    padding: 0 10px;
}