<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dimaker Design v1-0-0</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <div class="container">
      <div class="design-header">
        <h1>Dimaker Design</h1>
        <div class="version-details">
          <table>
            <tr>
              <th>Version</th>
              <th>Last Updated</th>
              <th>Notes</th>
            </tr>
            <tr>
              <td>x.x.x</td>
              <td>mm/dd/yyyy</td>
              <td>*NOTES*</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="content">
       
      </div>
    </div>
  </body>
</html>
