.design-header {
    background-color: #f1f1f1;
    padding: 20px;
    margin: -10px;
    text-align: center;
}

.design-header .version-details {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.design-header table {
    border-collapse: collapse;
}

.design-header table tr {
    border-bottom: #000000 solid 1px;
}

.design-header table td, .design-header table th {
    padding: 0 10px;
}

.content {
    margin: 20px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content>div {
    margin: 10px;
    width: 100%;
    max-width: 1200px;
}

.content .content-header {
    margin: 10px;
    font-weight: bold;

    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);

}

.content .content-body {
    position: relative;
}


.content .decision {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.decision-header .title {
    margin-bottom: -px;
}


.decision-header .title > h3 {
    margin-top: -10px;
    margin-left: 20px;
}

.decision-header .description > p {
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.content table {
    border-collapse: collapse;
    width: 100%;
    max-width: 750px;
    table-layout: fixed;
}

.content table thead tr {
    background-color: #f2f2f2;
    font-size: large;
    border-bottom: #BBBBBB solid 1px;
}

.content table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.content table thead tr:hover {
    cursor: default;
}

.content td:not(td:first-child):hover {
    background-color: #d6d6d6;
    cursor: pointer;
}

.content table th {
    padding: 8px 12px;
}

.content table td {
    text-align: center;
    padding: 8px 10px;
}

.content table td:first-child, .content table th:first-child {
    text-align: left;
    border-right: #BBBBBB solid 1px;
}

.content table td a {
    text-decoration: none;
}